<form method="GET" action="./results">
    <input type="text" name="postcode" placeholder="Enter your postcode"/>
    <input type="number" min="1" step="1" name="limit" placeholder="Number of stations"/>
    <input type="submit"/>
</form>