<div class="root">
    <form method="GET" action="./results">
        <input type="text" name="postcode" placeholder="Enter your postcode (e.g. M2 4WU)" class="form-control"/>
        <input type="number" min="1" step="1" name="limit" placeholder="Number of stations (1+)" class="form-control"/>
        <input type="submit" class="form-control"/>
    </form>
</div>